/* title style */
.red {
    color : red
}

.title{
    font-size: 50px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blue{
    color: blue;
}

.aqua{
    color :aqua
}

.image{
    height: 300px;
    width: 600px;
}